

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



/target/
/.settings/
/bin/
/.pydevproject
/.pydevproject.bak
.classpath
.project
.pydevproject
.pydevproject.bak
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/

.metadata/
.recommenders/
.settings/


AnyQuantMini/.settings/
AnyQuantMini/.classpath
AnyQuantMini/.project
AnyQuantMini/.pydevproject
AnyQuantMini/.pydevproject.bak
AnyQuantMini/target/
AnyQuantMini/bin/


Web/.settings/
Web/.classpath
Web/.project
Web/target/
Web/bin/
Web/.jshintsrc

