/target/
/.settings/
/bin/
/.pydevproject
/.pydevproject.bak
.classpath
.project
.pydevproject
.pydevproject.bak
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/

.metadata/
.recommenders/
.settings/


AnyQuantMini/.settings/
AnyQuantMini/.classpath
AnyQuantMini/.project
AnyQuantMini/.pydevproject
AnyQuantMini/.pydevproject.bak
AnyQuantMini/target/
AnyQuantMini/bin/


Web/.settings/
Web/.classpath
Web/.project
Web/target/
Web/bin/
Web/.jshintsrc